:root{
  --bg: #0e172a;
  --card: #ea590a;
  --text: #0f1222;
  --muted: #6b7280;
  --primary: #2563eb;
  --warn: #ef4444;
  --shadow: 10px 10px 10px rgba(0,0,0,.08);
}

.app[data-theme="dark"]{
  --bg: #40403c;
  --card: #111626;
  --text: #e5e7eb;
  --muted: #9aa3b2;
  --primary: #60a5fa;
  --warn: #f87171;
  --shadow: 10px 10px 10px rgba(249, 243, 243, 0.08);
}

* { 
    box-sizing: border-box;
 }

body{
  margin:  auto;
  font-family:  -apple-system, "system-ui", "Segoe UI", sans-serif;
  background: var(--bg); 
  color: var(--text);
  /* display: flex; */
  /* min-height: 100vh; */
  /* align-items: center; */
  /* justify-content: center;  */
}

.card{
    background-color: #1a2436;
    margin:  30px 0px 30px 0px;
    color: #c7d0dd;

}

#header{
    background-color: #161a33;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
}

div img{
   filter: brightness(0) invert(1);
   width: 18px;
   height: 18px;

}

#header div{
    display: flex;
    gap: 8px;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}


#current_page, #header div:hover{
    background-color: #322565;
    padding: 12px;
    border-radius: 20px;
}

#current_page a, #header div:hover a{
    color: #8b5cf6;
}

#current_page img, #header div:hover img{
    filter: invert(42%) sepia(28%) saturate(7156%) hue-rotate(238deg) brightness(100%) contrast(94%)
}

#about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 50px;
}

aside img{
    width: 280px;
    height: 280px;
    margin-left: 30px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 4px solid rgba(139, 92, 246, 0.3); */
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

/* aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

main h2 {
    font-size: 56px;
    font-weight: 800;
    color: #e2e8f0;
    margin-bottom: 40px;
    line-height: 1.2;
}

main p{
    font-size: 18px;
    color: #94a3b8;
    line-height: 1.9;
    margin-bottom: 30px;
    text-align: justify;
}